@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: Roboto, sans-serif;
}

html {
    background-color: #1f2937;
}

body {
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 100vh;
    max-width: 1400px;
    font-size: 18px;
}

.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 150px;
}

.header-links {
    display: flex;
    gap: 20px;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
    padding-right: 30px;
}

li {
    color: #e5e7eb;
}

.hero {
    background-color: #1f2937;
    flex: 1;
    display: flex;
    align-items: stretch;
    padding: 60px 0 100px;
}

.hero-wrapper {
    flex: 1;
    padding-right: 30px;
}

h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

.hero p {
    color: #e5e7eb;
}

button {
    font-size: 18px;
    font-weight: 500;
    padding: 8px 40px;
    color: #f9faf8;
    background-color: #3882f6;
    border-radius: 6px;
    border-style: none;
    margin-top: 8px;
}

.hero .dummy-img {
    /* Specify width only, not height. Defining height prevents flexbox
    "stretch" alignment functionality. */
    width: 200px;
    background-color: gray;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f9faf8;
    padding: 30px;
}

.random-info {
    color: dimgray;
    background-color: #f9faf8;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    margin: 60px;
    text-align: center;
}

.images {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    margin-bottom: 100px;
}

.image {
    flex: initial;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* For some unknown reason, "justify-content: center;" is having no effect
    (works as expected in hero), so I'm using the text-align attribute. */
    text-align: center;
    gap: 8px;
}

.image .dummy-img {
    height: 170px;
    width: 170px;
    border: 3px solid #3882f6;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.images p {
    flex: 1;
    max-width: 170px;
}

h2 {
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
}

.testimonial {
    color: #1f2937;
    background-color: #e5e7eb;
    flex: 1;
    display: flex;
    padding: 100px 0;
}

.flex-padding {
    min-width: 10%;
    flex: 1;
}

.column-wrapper {
    min-width: 440px;
    flex: 3;
}

blockquote {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
}

.testimonial p {
    font-size: 24px;
    font-weight: bold;
    text-align: right;
    padding-top: 30px;
}

.cta {
    color: #e5e7eb;
    background-color: #f9faf8;
    flex: 1;
    padding: 100px 0;
    display: flex;
}

.cta-wrapper {
    background-color: #3882f6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 100px;
    border-radius: 10px;
    flex: 2 1 auto;
}

.cta-text {
    padding-right: 30px;
}

.cta h3 {
    color: #f9faf8;
    font-size: 24px;
}

.cta-wrapper button {
    border: 2px solid #f9faf8;
}

.footer {
    color: #e5e7eb;
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}